# node
node_modules/
.venv*/
*.tgz
__pycache__/
*.py[cod]
*.egg-info/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
backend/.env
frontend/.env

# build
dist/
build/
frontend/public/mapping/

# misc
.DS_Store
.idea/
.vscode/
